<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Confirmation</title>
</head>
<body>
<form>
    <div class="container my-5">
        <div>
            <div>
                <h3>Dear [[${name}]],</h3>
            </div>
            <div>
                <p>Thank you for registering at Fitra. We are excited to have you onboard!</p>
                <p>To complete the registration process, please confirm your email by clicking on the link below:</p>
                <p>[[${confirmationLink}]]</p>
                <p>By confirming your email, you will gain full access to our platform and enjoy all the benefits of being a registered user.</p>
                <p>If you did not register at Fitra, please disregard this email.</p>
                <p>Thank you, <br/>Fitra Team</p>
            </div>
        </div>
    </div>
</form>
</body>
</html>